/* blog pagination css */
.blog-pagination {
    display: inline-block;
}

.blog-pagination li {
    display: inline-block;
    margin-right: 1px;
}

.blog-pagination li a {
    display: block;
    font-size: 16px;
    color: #808080;
    border: 1px solid #e7e7e7;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #fff;
}

.blog-pagination li.active a,
.blog-pagination li a:hover {
    background: #007bff;
    color: #fff;
}

.success{
    background: #daecd4;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group, .list-group.list-group-root > p .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    color: #370000;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 30px;
    color: #00565d;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 45px;
    color: #00a2b0;
}
.item-p{
    margin: 0;
    position: relative;
}
.item-p > span{
    position: absolute;
    right: 13px;
    top: 13px;
}
